/* make sure defaults are hidden */
select { display: none; }

/* Container */
.select-container {
    display: block;
}

/* Input */
.select-input {
    color: var(--input-text);
    background: var(--input-bg);
    border: 0.1rem solid var(--input-border-color);
    border-radius: var(--border-radius-medium);
    font-size: var(--font-size-medium);
    min-height: 1.5em;
    padding: var(--padding-small) var(--padding-medium);
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-tiny);
}

/* Dropdown arrow */
.select-arrow::after {
    font-family: var(--icon-font-family);
    content: var(--icon-chevron-down);
    font-size: var(--font-size-small);
    color: var(--input-text);
}

.select-pill {
    display: inline-flex;
    align-items: center;
    background: var(--select-option-pill-color);
    color: var(--select-option-pill-text-color);
    font-size: var(--font-size-small);
    padding: var(--padding-tiny) var(--padding-tiny) var(--padding-tiny) var(--padding-small);
    border-radius: var(--border-radius-circle);
}
.select-pill-remove {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: var(--margin-small);
    overflow: visible;
    padding: var(--padding-tiny);
    border-radius: var(--border-radius-circle);
}
.select-pill-remove:hover {
    background: var(--select-option-pill-color-hover);
}
.select-pill-remove::after {
    font-family: var(--icon-font-family);
    content: var(--icon-x);
    font-size: var(--font-size-small);
    color: var(--select-option-pill-text-color);
}

/* Menu */
.select-menu {
    background: var(--dropdown-bg);
    border: var(--dropdown-border);
    border-radius: var(--border-radius-medium);
    padding: var(--padding-small);
}
.select-menu.flat {
    display: block;
    background: var(--dropdown-bg);
    border: var(--dropdown-border);
    border-radius: var(--border-radius-medium);
    padding: var(--padding-small);
}

.select-menu.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--dropdown-bg);
    border: var(--dropdown-border);
    border-radius: var(--border-radius-medium);
    padding: var(--padding-small);
    z-index: 1000; /* Ensure it appears above other content */
}

/* Menu options */
.select-option {
    padding: var(--padding-small) var(--padding-medium);
    border: 0.1rem solid transparent;
    border-radius: var(--border-radius-medium);
    cursor: pointer;
}
.select-option:hover {
    background-color: var(--select-option-hover);
    border: 0.1rem solid var(--select-option-border-color-hover);
}
.select-option.selected {
    background-color: var(--select-option-active);
    border: 0.1rem solid var(--select-option-border-color-active);
}
.select-option.selected:hover {
    background-color: hsl( from var(--select-option-active) h s l / 60%);
    border: 0.1rem solid hsl( from var(--select-option-border-color-active) h s l / 80%);
}
.select-option[aria-disabled="true"],
.select-option.disabled {
    color: var(--text-light);
    cursor: not-allowed;
    pointer-events: none;
}

/* Groups */
.select-group-label {
    padding: var(--padding-very-small) var(--padding-small);
    font-weight: bold;
    font-size: var(--font-size-small);
    background-color: var(--select-group-bg);
    border-radius: var(--border-radius-medium);
}