<template id="dropdown_help">
  <div class="dropdown_content">
    <p>Need help?</p>
    <button>Contact Support</button>
  </div>
</template>

<template id="dropdown_settings">
  <div class="dropdown_content">
    <ul>
      <li><a href="#">Profile Settings</a></li>
      <li><a href="#">Account Settings</a></li>
      <li><a href="#">Privacy Settings</a></li>
      <li><button class="dropdown_trigger" data-dropdown_id="subSettingsMenu_1" data-dropdown_mode="right">See more settings</button></li>
    </ul>
    <button>Contact Support</button>
  </div>
</template>

<template id="subSettingsMenu_1">
  <div class="dropdown_content">
    <ul>
      <li><a href="#">Budget Settings</a></li>
      <li><a href="#">Style Settings</a></li>
      <li><button class="dropdown_trigger" data-dropdown_id="subSettingsMenu_2" data-dropdown_mode="right">See more left</button></li>
    </ul>
  </div>
</template>

<template id="subSettingsMenu_2">
  <div class="dropdown_content">
    <ul>
      <li><a href="#">Budget Settings</a></li>
      <li><a href="#">Style Settings</a></li>
      <li><a href="#">Subscription Settings</a></li>
    </ul>
  </div>
</template>